# Python önbellek dosyaları
__pycache__/
*.py[cod]
*$py.class

# Sanal ortam dosyaları (Eğer oluşturduysan)
venv/
env/
.env

# YOLOv8 Yapay Zeka Ağırlık Dosyaları (ÇOK BÜYÜK BOYUTLU OLUR, GITHUB'A ATILMAZ)
*.pt
*.onnx

# Mac veya Windows sistem dosyaları
.DS_Store
Thumbs.db